

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_Page</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: rgb(122, 220, 220);
        }
        
        h1 {
            text-align: center;
        }
        
        button {
            margin-top: 80px 20px;
        }
    </style>
    <script>
        function startQuiz() {
            // Redirect to the quiz page
            window.location.href = "/quiz";
        }
    </script>
</head>
<body>
    <h1>Hello Everyone !</h1>
    <br><br>
    <br><br>
    <br><br>
    <button onclick="startQuiz()">Start Quiz</button>
</body>
</html>
